<!DOCTYPE html>
<html>
<head>
    {% block head %}
	<title>Tchoff.com{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', _scheme='https', _external=True, filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', _scheme='https', _external=True, filename='images/favicon.ico') }}" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta name="description" content="Tchoff.com - Political Social Voting">
    <meta name="keywords" content="democract, republican, tchoff, tchoff.com, america, usa, political, president">
    <meta name="author" content="alex.d.fox@icloud.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block footer %}{% include "footer.html" %}{% endblock %}
    <br><a href="https://paypal.me/alexthefox">Pay minimum of $1 Per person per year for updates. To help Parler and Tchoff</a>
    <br><a href="https://whois.com/whois/xxx.xxx">Amazon Host Porn Sites</a>
    <br><a href="https://www.parler.com">but not Parler</a>
    <br><a href="https://youtu.be/8r34xgH2ZLMo">Mr. Biden tear down that wall.</a>
</body>
</html>
