<!DOCTYPE html>
<html lang="en-us">
<head>
    {% block head %}
	<title>Tchoff.com{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', _scheme='https', _external=True, filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', _scheme='https', _external=True, filename='images/favicon.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="description" content="Tchoff.com - Political Social Voting">
    <meta name="keywords" content="democract, republican, tchoff, tchoff.com, america, usa, political, president">
    <meta name="author" content="alex.d.fox@icloud.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
</head>
<body>
    <p>Donate Dogecoin: <a href='https://dogechain.info/address/DJ9x97N5uDhgCDVrh2mc85uxLGZ6deRQ8i'>DJ9x97N5uDhgCDVrh2mc85uxLGZ6deRQ8i</a></p>
    <p>Code: <a href="https://github.com/alex-d-fox/tchoff/">https://github.com/alex-d-fox/tchoff/</a></p>
    {% block content %}{% endblock %}
    {% block footer %}{% include "footer.html" %}{% endblock %}
</body>
</html>
