<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Tchoff.com</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta name="description" content="Tchoff.com - Political Social Voting">
    <meta name="keywords" content="democractic republic, tchoff, tchoff.com, america, usa, political, president">
    <meta name="author" content="alex.d.fox@icloud.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h5><p>Error: {{error}}</p></h5>
</body>
</html>