{% extends "base.html" %}
{% block title %} - {% if state %}{{state}}{% endif %}{% endblock %}
{% block content %}
    <h1>Tchoff.com!</h1>
    <h3>Political Social Media for 18+ USA Only!</h3>
    <h4><a href="https://www.fec.gov/">FEC.gov</a></h4>
    <h4><a href="https://www.vote.gov/">Vote.gov</a></h4>
    <h4><a href="/">Tchoff.com</a></h4>
    <h4><a href="/electoral">Electoral College</a></h4>
    {% if state %}
    <h4><a href="/{{state}}/top10">Top 10</a></h4>
    <h4><a href="/q/{{state}}/">Survey</a></h4>
    <h3>{{state}}</h3>
    {% if totalVotes %}
    Total Votes: {{totalVotes}}
    {% endif %}
    <table>
        <tr><th>District</th></tr>
    {% if districts %}
        {% for d in districts %}
            <tr><td><a href="/{{state}}/{{d[0]}}/">{{d[0]}}</a></td></tr>
        {% endfor %}
    {% endif %}
    </table>
    {% endif %}
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}
