{% extends "base.html" %}
{% block title %} - {% if state %}{{state}}{% endif %}{% endblock %}
{% block content %}
    <h1>Tchoff.com!</h1>
    <h3>Political Social Media for 18+ USA Only!</h3>
    <h4><a href="https://www.fec.gov/">FEC.gov</a></h4>
    <h4><a href="https://www.vote.gov/">Vote.gov</a></h4>
    <h4><a href="/">Tchoff.com</a></h4>
    <h4><a href="/electoral">Electoral College</a></h4>
    {% if state %}
    <h4><a href="/{{abbr}}/top10">Top 10</a></h4>
    <h3>{{state}}</h3>
    {% if totalVotes %}
    Total Votes: {{totalVotes}}
    {% endif %}
    <table>
        <tr><th>Candidate</th><th>Party</th><th>Votes</th></tr>
    {% if votes %}
        {% for v in votes %}
        <form method="POST" action="/vote/">
            <input type="hidden" name="state" value="{{state}}"></input>
            <tr><td><button type="submit" name="name" value="{{v[0][1]}}">{{v[0][1]}}</button></td><td>{{v[0][2]}}</td><td>{% if v[1][0] %}{{v[1][0][2]}}{% else %}0{% endif %}</td></tr>
        </form>
        {% endfor %}
    {% endif %}
    </table>
    {% endif %}
{% endblock %}
