<!doctype html>
<!DOCTYPE html>
<html>
<head>
  <title>Tchoff.com</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta name="description" content="Tchoff.com - Political Social Voting">
    <meta name="keywords" content="democractic republic, tchoff, tchoff.com, america, usa, political, president">
    <meta name="author" content="alex.d.fox@icloud.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Tchoff.com!</h1>
    <h3>Political Social Media for 18+ USA Only!</h3>
    <h4><a href="https://www.fec.gov/">FEC.gov</a></h4>
    <h4><a href="https://www.vote.gov/">Vote.gov</a></h4>
    <h4><a href="/">Tchoff.com</a></h4>
    <h1>Thank you for your vote!</h1>
    <h2>You voted for: {{votedFor}} in: {{votedIn}}</h2>
</body>
</html>